<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <div class="form-container">
    <h2>Add New Task</h2>

    <form ac]tion="/task" method="POST">

        <label>Task Title</label>
        <input type="text" name="title" placeholder="Enter task title" required>
          <br>
          <br>
        <label>Description</label>
        <textarea name="description" rows="4" placeholder="Enter task description" required></textarea>
           <br>
          <br>
        <label>Status</label>
        <select name="status">
            <option value="pending">Pending</option>
            <option value="completed">Completed</option>
        </select>
          <br>
          <br>
        <label>Priority</label>
        <select name="priority">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </select>
         <br>
          <br>
        <label>Deadline</label>
        <input type="date" name="deadline" required>
        <br>
          <br>
        <label>Subject</label>
        <input type="text" name="subject" placeholder="Enter subject" required>
        <br>
          <br>
        <button type="submit">Create Task</button>

    </form> 
</body>
</html>